* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}

body {
    margin: 0;
    background-color: #1BBC9B;
}

.login-form {
    width: 300px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    border: none;
}


.text-field {
    font-size: 14px;
    padding: 12px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
}

.submit-btn {
    font-size: 14px;
    border: none;
    padding: 12px;
    width: 260px;
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;
    position: relative;
}

button:hover {
    background: #FFF;
    color: #1AAB8A;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
